<a href="https://colab.research.google.com/github/faisalamin12/Python_advance/blob/main/map()_function_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

map() function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

**Syntax**  

map(fun, iter)


**Parameters :**

    fun : It is a function to which map passes each element of given iterable.
    iter : It is a iterable which is to be mapped.

In [1]:
## Addition of numbers

def add(n):
  return n+n

add(2)

4

In [3]:
##if we want to add list elements through same function

list_1 = [1,2,3,4,5]

a = map(add , list_1)

In [4]:
list(a)

[2, 4, 6, 8, 10]

In [5]:
## We can use map function with Lambda function


a = map(lambda  x: x + x ,  list_1 )

In [6]:
list(a)

[2, 4, 6, 8, 10]

In [8]:
## Addition of two list 

eng_marks = [75,68, 98, 54 , 77]
phy_marks = [77,86,65,52,71]

total = map(lambda x,y : x + y , eng_marks , phy_marks)

In [9]:
total

In [10]:
list(total)

[152, 154, 163, 106, 148]

In [11]:
# Conversion of list from string through map 

days = ["sat" , "sun" , "mon" , "Tues" , "wed"]

con_list = map(list , days)

In [12]:
print(con_list)

<map object at 0x7f5774c2c910>

In [13]:
list(con_list)

[['s', 'a', 't'],
 ['s', 'u', 'n'],
 ['m', 'o', 'n'],
 ['T', 'u', 'e', 's'],
 ['w', 'e', 'd']]